snippet desc "describe"
with describe('describe text'):
    with context('context text'):
        wit it('with it text'):
            $0
endsnippet


snippet bee "beforeEach"
beforeEach:
	$0

endsnippet


snippet before "before"
before:
	$0

endsnippet


# expect

snippet eq "expect(x).toEqual(y)"
expect($1).to(equal($2));
endsnippet
